<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LogRuns</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.1.0/bootstrap-modal.pack.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  
</head>
<body>
  <div class="container">
    <h1>LogRuns</h1>
    <div class="page"></div>
    <!-- Modal -->
    <div id="runModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">New Run Entry</h3>
      </div>
      <form class="form-horizontal runEntry">
        <div class="modal-body">
          <div class="control-group">
            <label class="control-label" for="inputDate">Date:</label>
            <div class="controls">
              <input type="date" id="inputDate" name="date">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputDistance">Distance:</label>
            <div class="controls">
              <input type="text" name="distance" id="inputDistance">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputTime">Time:</label>
            <div class="controls">
              <input type="text" name="duration" id="inputTime">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputNotes">notes:</label>
            <div class="controls">
              <textarea name="notes" rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="submitRun" type="submit" class="btn btn-primary">LogRun</button>
          <button id="modalClose" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>    
        </div>
      </form>
    </div>
  </div>

<script type="text/template" id="month-list-template">
  <table class="table table-bordered">
    <thead>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
    </thead>
    <tbody>
      <tr>

      <%= console.log(months[0].attributes["firstDay"]) %>
      <% for (var i = 1 - months[0].attributes["firstDay"]; i < 36; ++i){ %>
        <% if (i >= 0 && i < months[0].attributes["numDays"]) { %>
          <td><a class=number><%= i + 1 %></a></td>
        <%} else { %>
          <td></td>
        <%};%>
        <% if (i % 7 == 0 && i < 35){ %>
          </tr><tr>
        <%};%>
      <%};%>
      </tr>
    </tbody>
  </table>
</script>

<script type="text/template" id="run-list-template">
  <%= console.log(runEntries) %>
   <table class="table table-bordered">
    <thead>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
    </thead>
    <tbody>
      <tr>
      <% var dateString = "2013-07-" %>
      <% for (var i = 1; i < 36; ++i){ %>
        <td>
          <% if (i < 32) { %>
          <% var fulldate = dateString + i%>
          <% if (i < 10) { %>
            <% var fulldate = dateString + '0' + i%>
          <%}%>
          <a class="number" data-option=<%=fulldate%>><%= i %></a>
          <% _.each(runEntries, function(run){ %>
              <% if (run.get('date') == fulldate){%>
                <div class="mileage"><%=run.get('distance')%></div>
              <%};%>
          <%});%>
          <%};%>
        </td>
        <% if (i % 7 == 0 && i < 35){ %>
          </tr><tr>
        <%};%>
      <%};%>
      </tr>
    </tbody>
  </table>
</script>
<script>
   $.ajaxPrefilter( function(options, originalOptions, jqXHR) {
    options.url = 'http://localhost:5000' + options.url;
  });
  $.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function(){
      if (o[this.name] !== undefined) {
        if (!o[this.name].push) {
          o[this.name] = [o[this.name]];
        }
        o[this.name].push(this.value || '');
      } else {
          o[this.name] = this.value || '';
      } 
    });
    return o;
  };

  var RunEntries = Backbone.Collection.extend({
    url: '/runs'
  });
  var RunEntry = Backbone.Model.extend({
    urlRoot: '/runs'
  });
  
  var RunEntryList = Backbone.View.extend({
    el: '.page',
    render: function(){
      $('#runModal').modal('hide');
      var that = this;
      var runEntries = new RunEntries();
      runEntries.fetch({
        success: function(runEntries) {
          var template = _.template($('#run-list-template').html(), {runEntries: runEntries.models});
          that.$el.html(template);
          $('a').on('click', function(){
            router.navigate('new', {trigger:true});
            var date = $(this).attr('data-option');
            $('#inputDate').val(date);
          });

        }
      })
    }
  });
  
  $('#modalClose, .close').on("click", function(){
    router.navigate('', {trigger:false});
  });
  
  var saveRunEntry = Backbone.View.extend({
    el: $('#runModal'),
    render: function(options) {
      $('#runModal').modal('show');
      console.log('render');
    },
    events: {
      'submit .runEntry' : 'saveEntry'
    },
    saveEntry: function(ev) {
      console.log(ev);
      var entryDetails = $(ev.currentTarget).serializeObject();
      console.log(entryDetails);
      var entry = new RunEntry();
      entry.save(entryDetails, {
        success: function(entry) {
          router.navigate('', {trigger:true})
        }
      });
      console.log(entryDetails);
      return false;
    }
  });

  var Router = Backbone.Router.extend({
    routes: {
      '': 'home',
      'new' : 'newEntry',
    }
  });
  var runEntryList = new RunEntryList();
  var newEntry = new saveRunEntry();
  var router = new Router();
  router.on('route:home', function() {
    runEntryList.render();
  });
  router.on('route:newEntry', function(id) {
    newEntry.render();
  })
  Backbone.history.start();

</script>
</body>
</html>