* {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  margin: 0px;
}

.container {
  width: 100%;
}

.dialog {
  background-color: rgb(238,238,238);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px black;
}

/* Custom page header */
.dialog .header {
  height: 40px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  text-align: center;
  padding: 10px;
}

.dialog .body {
  padding: 30px;
}

input.formInput: {
  float: right;
}

input[type=text], input[type=password] {
  border: 0px;
  height: 30px;
}

.dialog button[type=submit] {
  float: right;
}

button {
  color: white;
  height: 30px;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
}

.formInline {
  height: 50px;
  width: 270px;
}

.formInline input {
  float: right;
}

.toolbar {
  height: 40px;
  width: 100%;
}

.toolbarItem {
  padding: 10px;
  float: left;
}

.coolGradient {
  background-color: #420147;
  color: white;
}

.toolbar .account {
  float: right;
  border-left: 1px solid white;
  cursor: pointer;
}

.calendar {
  width: 840px;
  height: 600px;
  margin: auto;
}

.day {
  float: left;
  width: 120px;
  height: 120px;
  border-width: 1px 0px 0px 1px;
  border-color: black;
  border-style: solid;
}

.dow {
  width: 840px;
  margin: auto;
}

.dow span {
  width: 120px;
  float: left;
  background-color: #e1e1e1;
}

.day:nth-child(7n), .day:last-child {
  border-right: 1px solid black;
}

.day:nth-last-child(-n+7) {
  border-bottom: 1px solid black;
}

.calendarHeader {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.username {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

.userList {
  width: 200px;
  background-color: #e1e1e1;
  margin: 20px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.75);
}