<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LogRuns</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.1.0/bootstrap-modal.pack.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.0.2/js/bootstrap-datepicker.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  
</head>
<body>
  <div class="container">
    <h1>LogRuns</h1>
    <input type="date" id="dp3">
  
    <div class="page"></div>
    
    <!-- Modal -->
    <div id="runModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">New Run Entry</h3>
      </div>
      <form class="form-horizontal runEntry">
        <div class="modal-body">
          <div class="control-group">
            <label class="control-label" for="inputDate">Date:</label>
            <div class="controls">
              <input type="date" id="inputDate" name="date">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputDistance">Distance:</label>
            <div class="controls">
              <input type="text" name="distance" id="inputDistance">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputTime">Time:</label>
            <div class="controls">
              <input type="text" name="duration" id="inputTime">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputNotes">notes:</label>
            <div class="controls">
              <textarea id="inputNotes" name="notes" rows="6"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="submitRun" type="submit" class="btn btn-primary">LogRun</button>
          <button class="modalClose" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>    
        </div>
      </form>
    </div>
  </div>

<div id="entryView" class="modal entry hide fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<script type="text/template" id="view-entry-template">
  <%console.log(runEntry)%>
  <%=runEntry.date%>



  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3><%=runEntry.get("date")%> Run</h3>
      </div>
      
        <div class="modal-body">
          <div class="entryData"><span class="label label-info">Time:</span>
          <%=runEntry.get("duration")%></div>
          
          <div class="entryData">
          <span class="label label-info">Distance:</span>
          <%=runEntry.get("distance") + " miles"%>
          </div>

          <div class="entryData">
          <span class="label label-info">Pace:</span>
          <%=getPace(runEntry.get("duration"), runEntry.get("distance"))%>
          </div>
          
          <div class="entryData">
          <span class="label label-info">Notes:</span><br>
          <div class="well"><%=runEntry.get("notes")%></div></div>
        <div class="modal-footer">
          
          <button class="modalClose" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>    
        </div>
    </div>




</script>
<script type="text/template" id="run-list-template">
  <%= console.log(runEntries) %>
   <table class="table table-bordered">
    <thead>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
      <th>S</th>
    </thead>
    <tbody>
      <tr>
      <%var dateString = $('#dp3').val().substring(0,8) %>
      <%var month = $('#dp3').val().substring(5,7) %>
      <%var year = $('#dp3').val().substring(0,4) %>
      <%var dow = getDayOfWeek(1, month, year) %>
      <%var dim = getDaysInMonth(month, year) %>
      <%var i,k %>
      <%for ( i = 1; i < 43; ++i){ %>
        <%var day = i - dow %>
        <%if (i <= dim + dow && day > 0) { %>
          <%var fulldate = dateString + day%>
          <%if (day < 10 ) { %>
            <%var fulldate = dateString + '0' + day%>
          <%}%>
          <td data-option=<%= fulldate%> >
          <a class="number" data-option=<%=fulldate%>><%= day %></a>
          <i class="icon-comment hidden" data-option=<%=fulldate %>></i>
          <%_.each(runEntries, function(run){ %>
            <%if (run.get('date') == fulldate){%>
              
              <div class="mileage"><a href="#/view/<%=run.id%>"><%=run.get('distance') + " miles"%></a></div>
            <%};%>
          <%});%>
        <%} else {%> 
          <td> 
        <%}%>
        </td>
        <% if (i % 7 == 0){ %>
          </tr><tr>
        <%};%>
      <%};%>
      </tr>
    </tbody>
  </table>
</script>
<script>
   $.ajaxPrefilter( function(options, originalOptions, jqXHR) {
    options.url = 'http://peaceful-shore-8521.herokuapp.com' + options.url;
  });
  $.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function(){
      if (o[this.name] !== undefined) {
        if (!o[this.name].push) {
          o[this.name] = [o[this.name]];
        }
        o[this.name].push(this.value || '');
      } else {
          o[this.name] = this.value || '';
      } 
    });
    return o;
  };

  var RunEntries = Backbone.Collection.extend({
    url: '/runs'
  });
  var RunEntry = Backbone.Model.extend({
    urlRoot: '/runs'
  });

  
  var RunEntryList = Backbone.View.extend({
    el: '.page',
    render: function(){
      $('#runModal').modal('hide');
      $('.modal').modal('hide');
      var that = this;
      var runEntries = new RunEntries();
      runEntries.fetch({
        success: function(runEntries) {
          var template = _.template($('#run-list-template').html(), {runEntries: runEntries.models});
          that.$el.html(template);
          $('a.number').on('click', function(){
            router.navigate('new', {trigger:true});
            var date = $(this).attr('data-option');
            $('#inputDate').val(date);
            $('#inputDistance').val('');
            $('#inputTime').val('');
            $('#inputNotes').val('');
          });
          $('td[data-option=' + getTodaysDate() + ']').addClass('today');

        }
      })
    }
  });

  var ViewRunEntry = Backbone.View.extend({
    el: '.entry',
    render: function(options) {
      $('.modal').modal('hide');
      console.log(options);
      var that = this;
      if (options.id) {
        that.runEntry = new RunEntry({id:options.id});
        that.runEntry.fetch({
          success: function (runEntry) {
            console.log(runEntry);
            var template = _.template($('#view-entry-template').html(), {runEntry: runEntry});
            that.$el.html(template);
            that.$el.modal('show');
            $('.modal-backdrop').attr('style', 'z-index=0');
             $('.modalClose, .close').on("click", function(){
              router.navigate('', {trigger:true});
            });
          }
        });
      }
    }

  });

  var SaveRunEntry = Backbone.View.extend({
    el: $('#runModal'),
    render: function(options) {
      $('.modal').modal('hide');
      $('#runModal').modal('show');
      $('.modal-backdrop').attr('style', 'z-index=0');
      console.log('render');
    },
    events: {
      'submit .runEntry' : 'saveEntry'
    },
    saveEntry: function(ev) {
      console.log(ev);
      var entryDetails = $(ev.currentTarget).serializeObject();
      console.log(entryDetails);
      var entry = new RunEntry();
      entry.save(entryDetails, {
        success: function(entry) {
          router.navigate('', {trigger:true})
        }
      });
      console.log(entryDetails);
      return false;
    }
  });


  
  $('.modalClose, .close').on("click", function(){
    router.navigate('', {trigger:true});
  });
  $('.modal').keyup(function(e) {
    if(e.keyCode == 27) { //Enter keycode
      router.navigate('', {trigger:true})
    }
    
  });

  $('#dp3').on("change", function(){
    Backbone.history.loadUrl( Backbone.history.fragment );
    router.navigate('');
  });
  


  // var EditUser = Backbone.View.extend({
  //   el: '.page',
  //   render: function(options) {
  //     var that=this;
  //     if (options.id) {
  //       //GET request
  //         that.user = new User({id: options.id});
  //         that.user.fetch({
  //             success: function (user) {
  //               var template = _.template($('#edit-user-template').html(), {user:user});
  //             that.$el.html(template);
  //             }
  //         });
  //     }
  //     else{
  //       var template = _.template($('#edit-user-template').html(), {user:null});
  //       this.$el.html(template);
  //     }
  //   },

  var Router = Backbone.Router.extend({
    routes: {
      '': 'home',
      'new' : 'newEntry',
      'view/:id' : 'viewEntry'
    }
  });
  var runEntryList = new RunEntryList();
  var newEntry = new SaveRunEntry();
  var viewEntry = new ViewRunEntry();
  var router = new Router();
  router.on('route:home', function() {
    runEntryList.render();
  });
  router.on('route:newEntry', function() {
    newEntry.render();
  });
  router.on('route:viewEntry', function(id) {
    viewEntry.render({id:id});
  })

  Backbone.history.start();




  function getTodaysDate(){
    return (getYear() + '-' + getMonth() + '-' + getDay());
    }
  function getMonth(){
    var today = new Date();
    var mm = today.getMonth()+1;
    if (mm < 10) {mm='0' +mm}
    return mm;
  }
  function getDay(){
    var today = new Date();
    var dd = today.getDate();
    if (dd<10){dd='0'+dd}
    return dd;
  }
  function getYear(){
    var today = new Date();
    return today.getFullYear();
  }
function getDayOfWeek(day, month, year){
    month -= 1;
    var date = new Date(year, month, day);
    return date.getDay() - 1;
  }
  function getDaysInMonth(month, year) {
    var date = new Date(year, month, 0);
    return date.getDate();
  }
  function getPace(time, distance){
    var regex = /^(\d\d):(\d\d)$/;
    var minutes = time.replace(regex, '$1');
    var seconds = time.replace(regex, '$2');
    minutes = parseFloat(minutes);
    seconds = parseFloat(seconds);
    seconds = minutes * 60 + seconds; 
    var pace = parseFloat(seconds / parseFloat(distance));
    minutes = Math.floor(pace / 60);
    seconds = Math.ceil(pace - (minutes * 60));
    if (seconds < 10){seconds = "0" + seconds;}
    pace = minutes + ":" + seconds;
    return pace;  
  }

  $('#dp3').val(getTodaysDate());


</script>
</body>
</html>
