table {
	height: 600px;
}
.table th {
	text-align: center;
}
.table td {
	width: 14.29%;
	height: 16.66667%;
}
i {
	float: right;
	cursor: pointer;
}
a:hover{
	cursor: pointer;
}
.mileage{
	text-align: center;
}
#datePicker {
  float:right;
}
.hidden {
	display: none;
}
.today {
	background-color: rgba(211, 232, 255, 0.6);
}
/*.modal-backdrop {
	z-index: 0;
}*/
.entryData {
	padding: 10px;
}
.text-center{
	text-align: center;
}
.entrylink{
	color:#000000;
}
.btn-toolbar{
	text-align:center;
}
.other-month{
	background-color:rgba(128, 128, 128, 0.08);
}
.other-month a.number{
		color: rgb(194, 194, 194);
}
.other-month .entrylink{
	color:rgba(0, 0, 0, 0.43);
}

.loginForm, .signin {
	margin: 0px;
}

button.signin.btn {
	margin:0px;
}

.signinForm{
	margin-top:4px;
}