table {
	height: 600px;
}
.table th {
	text-align: center;
}
.table td {
	width: 14.29%;
	height: 16.66667%;
}
i {
	float: right;
	cursor: pointer;
}
a:hover{
	cursor: pointer;
}
.mileage{
	text-align: center;
}
#datePicker {
  float:right;
}
.hidden {
	display: none;
}
.today {
	background-color: rgba(211, 232, 255, 0.6);
}
.modal-backdrop {
	z-index: 0;
}
.entryData {
	padding: 10px;
}