<div class="toolbar" ng-show="attemptedLogin">
<a href="/" class="toolbarItem bold title">LogRuns</a>
<a href="#/login" ng-show="items.length == 0" class="toolbarItem accountInfo">Login</a>
<div ng-show="items.length > 0" class="toolbarItem dropdown accountInfo">
  <div class="dropdown-toggle">
    <div class="accountName">
    {{user.local.username}}
    </div>
    <div class="notificationCount" ng-show="user.notificationCount > 0">
      {{user.notificationCount}}
    </div>
    <div class="caret"></div>
  </div>

  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-option" href="#/notifications">Notifications</a>
    </li>
    <li>
      <a class="dropdown-option" href="#/account">Account</a>
    </li>
    <li>
      <a class="dropdown-option" href="#/logout">Logout</a>
    </li>
  </ul>
</div>
<input type="text" ng-model="textSearch" class="search" ng-enter="search()" placeholder="Search Entries..."/>
</div>
<div class="toolbarPlaceholder"></div>
