<img></img>



<div>Import data from RunningAhead, a strictly inferior website</div>
<ul>
  <li>Step 1: Export XML data from RunningAhead</li>
  <li>Step 2: Click "Choose File" and select the file you just downloaded</li>
  <li>Step 3: (Optional) Open dev tools console</li>
  <li>Step 4: Click "Upload"</li>
  <li>Step 5: Leave this page open, wait a couple minutes. If you did step 3, you can stop waiting once the number in the console stops increasing</li>
</ul>
<button class="coolGradient" ng-click="importRA()">Upload</button>
<file name="ra" ng-model="raFile" accept="text/xml"/>

<div>we cool</div>

<div>You <i>might</i> be able to upload a picture here. Good luck</div>
<button class="coolGradient" ng-click="upload()">Upload</button>
<file name="image" ng-model="inputFile" ng-change="preview()" accept="image/png,image/jpg,image/jpeg"/>

