<div class="dialog" id="loginPane">
<div class="header coolGradient">New Log Entry</div>
<div class="body">
<form>
<div class="formInline">
<label>Date:</label>
<input ng-model="entry.date" class="formInput" type="date"/>
</div>
<div class="formInline">
<label>Distance:</label>
<input ng-model="entry.distance" class="formInput" type="text"/>
</div>
<div class="formInline">
<label>Duration:</label>
<input ng-model="entry.duration" class="formInput" type="text"/>
</div>
<button class="coolGradient" ng-click="submit()" type="submit">submit</button>
</form>
</div>
</div>