<div class="entry" ng-repeat="entry in entries">
<h1>Entry {{$index+1}}</h1>
<div>Date: {{entry.date}}</div>
<div>Distance: {{entry.distance}} miles</div>
<div>Duration: {{entry.duration}} </div>
<div>Notes: {{entry.notes}} </div>
</div>

<div class="comments">Comments
<div class="comment" ng-repeat="comment in comments">
<div>{{comment.commenter}}: {{comment.message}}</div>
</div>
</div>

<div class="commentSubmit">
<textarea ng-model="newcomment.message"></textarea>
<button class="coolGradient" ng-click="postComment()">post</button>
</div>
