<div class="entry">
<div class="entryHeader">{{formatDate(entry.date)}}</div>
<div class="entryBody">
<div class="entryField"><span class="bold">Distance:</span> {{entry.distance}} miles</div>
<div class="entryField"><span class="bold">Duration:</span> {{entry.duration}}</div>
<div class="entryField"><span class="bold">Pace:</span> {{getPace(entry.distance, entry.duration)}} </div>
<div class="entryField"><span class="bold">Notes:</span> {{entry.notes}} </div>
</div>
</div>

<div class="entry">
<div class="commentHeader">Comments</div>
<div class="entryBody">
<div class="entryField" ng-repeat="comment in entry.comments">
<div><span class="bold">{{comment.username}}:</span> {{comment.message}}</div>
</div>
</div>
<div class="commentSubmit">
<div class="commentUsername">{{username}}</div>
<textarea ng-model="newcomment.message"></textarea>
<button class="coolGradient" ng-click="postComment()">post</button>
</div>
</div>