<div class="entry login dialog">
<div class="entryHeader">Login</div>
<div class="entryBody">
<form>
<div class="entryField">
<label>Username:</label>
<input ng-model="user.username" class="formInput" type="text"/>
</div>
<div class="entryField">
<label>Password:</label>
<input ng-model="user.password" type="password" class="formInput" type="text"/>
</div>
<div class="entryField">
<a href="#/signup">sign up</a>
<button class="coolGradient" ng-click="login()" type="submit">submit</button>
</div>
</form>
</div>
</div>
